body{
	background-image: url(edi1.jpg);
	background-repeat: no-repeat; 
	background-size: cover;
	
}
h1{
	color: white;
	text-align: center;
}
h2{
	color: white;
}
h3{
	color: white;
}
h4{
	color: white;
}
span{
	color: white;
}
textarea{
	min-height: 60px;
	max-height: 120px;
	min-width: 210px;
	max-width: 300px;
}
input[type = text]{
	height:25; 
	width:200;
}